.Form {
  background-color: var(--secondary-color); /* Bakgrunnsfargen for hele formen */
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px; /* Legg til avrundede hjørner på formen */
  padding: 20px; /* Legg til litt padding for å gi luft rundt innholdet */
}

h2 {
color: rgb(171, 176, 176);
margin-bottom: calc(5px + 2vmin);
}

h3 {
margin-top: 0;
font-weight: normal;
font-size: calc(5px + 2vmin);
}

form-header {
  color: darkslategrey;
  font-size: calc(10px + 2vmin);
  align-items: center;
  background-color: var(--secondary-color);
}

input[type="text"],
input[type="file"] {
width: 100%; 
padding: 10px; 
margin: 5px 0; 
box-sizing: border-box; 
font-family: Arial, sans-serif;
}

input {
border-radius: 8px;
border-color: #282c34;
}

button[type="submit"] {
font-family: Arial, sans-serif; 
border-radius: 5px;
border-color: #282c34;
}

.form-group {
margin-top: 5px;
margin-bottom: 5px;
}

.button-wrapper {
margin-top: 10%;
display: flex;
justify-content: center; 
width: 100%; 
}

textarea {
width: 100%;
padding: 10px;
margin: 5px 0;
box-sizing: border-box;
resize: vertical; 
font-family: Arial, sans-serif; 
border-radius: 8px;
border-color: #282c34;
}
