Olav Larsen Halleraker <ohallera@gmail.com>
Olav Larsen Halleraker <olavlha@stud.ntnu.no>
Åsmund Løvoll <aasmul@stud.ntnu.no>
Jakob Cuhra <jakobhc@stud.ntnu.no>
Ferdinand Henrik Gjesdahl <fhg1709@gmail.com>
Oda Bang-Olsen <odaban@stud.ntnu.no>
Camille Rød <camillerod@camilles-mbp.sintef.no>
Eirill Bue <eirillbue@gmail.com>