/* Global Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global Variables */
:root {
  --primary-color: #576F8C;
  --secondary-color: #253D59;
  --tertiary-color: #9DACBF;
  --quaternary-color: #BDD5F2;
  --quinary-color: #ffffff;
  --font-base-size: 16px;
  --font-family: 'Roboto', sans-serif;
  --spacing-unit: 8px;
}

/* Body and Base Styles */
body {
  font-family: var(--font-family);
  font-size: var(--font-base-size);
  line-height: 1.6;
  color: var(--primary-color);
  background-color: #fff;
  color-scheme: light dark;
}

a {
  color: var(--quinary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}
