h1 {
  text-align: center;
}

.weather-box h2 {
  margin-bottom: 3%;
}

.weather-box {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(37, 61, 89, 0.1);
  overflow: hidden;
  /* margin-bottom: 15px;
    padding: 16px; */
  background-color: var(--secondary-color);
  width: 38vmax;
  height: 23vmax;

}

.image-box {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(37, 61, 89, 0.1);
  position: relative;
  overflow: hidden;
  /* margin-bottom: 15px;
    padding: 16px; */
  background-color: var(--secondary-color);
  width: 38vmax;
  height: 23vmax;


}

.weather-icon p {
  text-align: center;
  box-sizing: border-box;
  align-items: center;

}

.destination-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin-left: 40px;
  margin-right: 40px;
  gap: 20px;
  
}

.destination-display > * { /* This targets all direct children of .destination-display */
  margin-bottom: 20px; /* Adjust the value based on your spacing preference */
}

@media (max-width: 800px) { /* Adjust this value based on your needs */
  .destination-display {
    flex-direction: column;
    align-items: center; /* This centers the items vertically */
  }
}

.icons-display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  margin-left: 40px;
  margin-right: 40px;
}

.weather-box img {
  display: block;
  margin-bottom: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 20%;
  height: 20%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(37, 61, 89, 0.1);
  transition: transform 0.3s ease-in-out;

}

.weather-icon {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 10vmax;
  height: 10vmax;
  background: radial-gradient(circle at center,
      var(--tertiary-color) 0%,
      var(--tertiary-color) 70%,
      var(--secondary-color) 70.1%
    );
  box-sizing: border-box;
}



.image-box .destination-image {
  display: block;
  margin-right: 0;
  margin-left: 0;
  align-self: auto;
  width:100%;
  
  height: 100%;
  border-radius: 0;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;

}

.long-description {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-left: 40px;
  margin-right: 40px;
  padding: 50px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(37, 61, 89, 0.1);
  overflow: hidden;
  /* margin-bottom: 15px;
    padding: 16px; */
  background-color: var(--secondary-color);
  margin-bottom: 40px;
}

.long-text {
  color: white;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-style: italic; */
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: stretch;
  order: 0;
}



.short-description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(37, 61, 89, 0.1);
  overflow: hidden;
  padding: 50px;
  /* margin-bottom: 15px;
    padding: 16px; */
  background-color: var(--secondary-color);
  margin-bottom: 40px;
}

.short-text {
  color: white;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: stretch;
  order: 0;
}






.image-box:hover {
  transform: translateY(-5px);

}



/* .destination-description,
.long-text,
.rating {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  font-size: medium;
} */

button {
  width: 47%;
  display: block;
  background-color: var(--secondary-color);
  color: white;
  padding: var(--spacing-unit);
  margin: calc(var(--spacing-unit) * 2) auto;
  border: none;
  border-radius: 5px;
  font-size: calc(var(--font-base-size) + 2px);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--quinary-color);
  color: var(--tertiary-color);
}

.rating ul {
  display: flex;
  /* Use flexbox */
  flex-direction: column;
  /* Arrange items vertically */
  align-items: center;
  /* Center items horizontally */
  padding: 0;
  /* Remove default padding */
}

.rating li {
  margin-top: 20px;
  width: 150%;
  /* Adjust the width as needed */
  max-width: 500px;
  /* Set maximum width */
  list-style: none;
  /* Remove the dot */
}

.review-content {
  text-align: left;
  /* Align the review content to the left */
}


.popup-inner {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  width: 500px;
  margin: auto;
  /* Center the popup horizontally */
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

input[type='number'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--quinary-color);
}


.btn-small {
  width: 20%;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-small:hover {
  background-color: var(--quinary-color);
}