.Form {
  background-color: var(--secondary-color); 
  min-height: auto;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  padding: 20px; 
}

h2 {
color: var(--quinary-color);
margin-bottom: calc(5px + 2vmin);
font-size: calc(10px + 2vmin);
}


h3 {
margin-top: 0;
font-weight: normal;
font-size: calc(5px + 2vmin);
display: flex;
text-align: center;
}

form-header {
  color: var(--quinary-color);
  font-size: calc(10px + 2vmin);
  align-items: center;
  background-color: var(--secondary-color);
}

input[type="text"],
input[type="file"] {
width: 100%; 
padding: 10px; 
margin: 5px 0; 
box-sizing: border-box; 
font-family: Arial, sans-serif;
font-size: 15px;
}

input {
border-radius: 8px;
border-color: #282c34;
width: 600px;
}

textarea {
  resize: none;
  font-family: Arial, sans-serif;
  margin: 5px 0; 
  width: 600px;

  
}
textarea::placeholder {
  font-size: 15px;
}

button[type="submit"] {
font-family: Arial, sans-serif; 
border-radius: 5px;
border-color: #282c34;
}

.form-group {
margin-top: 15px;
margin-bottom: 15px;
}

.button-wrapper {
display: flex;
justify-content: center; 
width: 100%; 
}

.small-button{
  display: flex;
  justify-content: center; 
}

.small-button button {
  width: 30%;
  margin: 10px; 
}

textarea {

border-radius: 8px;
border-color: #282c34;
}

textarea[type="text"]{
  width: 100%; 
padding: 10px; 
margin: 5px 0; 
box-sizing: border-box; 
font-family: Arial, sans-serif;
}

textarea::placeholder {
  font-size: 15px; 
}

input[type="text"],
input[type="file"] {
width: 100%; 
padding: 10px; 
margin: 5px 0; 
box-sizing: border-box; 
font-family: Arial, sans-serif;
}

input {

border-radius: 8px;
border-color: #282c34;
}

.DestinationList {
  color: var(--quaternary-color);
    padding-top: 3%;
    margin-bottom: 4%;
    margin-top: 10%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: var(--secondary-color); 
    border-radius: 10px; 
    text-align: center;


}

.DestinationItem{
  color: var(--quinary-color);
  margin-bottom: 8%;
  width: 50%;
}


.AdList {
  color: var(--quaternary-color);
    padding-top: 3%;
    margin-bottom: 4%;
    margin-top: 10%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: var(--secondary-color); 
    border-radius: 10px; 
    text-align: center;
}

.AdItem{
  color: var(--quinary-color);
  margin-bottom: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AdItem img {
  width: 200px;
  height: 100px;
  border-radius: 10px; 
  margin-bottom: 10px;
}

.AdItem h3, .AdItem a {
  margin: 5px 0;
}


.small-button button {
  width: 100%;
  margin: 10px;
}


